.foto_mascota{
    width: 100px;
}
#mascotas_table{
    padding: 40px;
    background-color:  #46315f;
    height: 1600px;

}

.LogoPrincipal{
    width: 100px;
    height: 100px;
    margin: 0px;
}




 
  
