.foto_mascota{
    width: 100px;
}
#mascotas_table{
    padding: 40px;
    background-color:  #46315f;
    height: 1600px;

}

.LogoPrincipal{
    width: 100px;
    height: 100px;
    margin: 0px;
}
.auth-buttons{
    margin: 15px;
}
.auth-buttons a {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 16px;
}
.auth-buttons .register {
  background-color: #564d80;
  color: #fff;
  border: none;
}
.auth-buttons .infobtn {
    background-color: #b8aee6;
    color: #fff;
    border: none;
}
.auth-buttons .deletebtn {
    background-color: #d61e18;
    color: #fff;
    border: none;
}




 
  
